.App {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Bigelow Rules', sans-serif;
  font-size: 72px;
  color: #0ccac4;
  margin: 10px 0;
}